.sidenav {
    position: fixed;
    top: 7.2%;
    z-index: 10;
}

.sidenav>ul {
    width: 5rem;
}

.sidenav>ul:hover {
    width: 18rem;
}

.sidenav>ul>* {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    border-radius: 999px;
    height: 3rem;
    width: 3rem;
    cursor: pointer
}

/* .sidenav>ul>*:hover {
    display: flex;
    justify-content: flex-start;
    color: white;
    border-radius: 999px;
    height: 3rem;
    width: 100%;
    cursor: pointer;
    padding:2rem;
    background: #000000;
} */

.sidenav>ul>li>a>i>span{
    opacity: 0;
}
.sidenav>ul>li>*:hover span{
   opacity: 1;
}
.sidenav>ul>li>*:hover {
    display: flex;
    /* align-items: center; */
    justify-content: flex-start;
    color: white;
    border-radius: 999px;
    /* height: 3rem; */
    width: 250px;
    cursor: pointer;
    /* padding:1rem; */
    margin: 0;
    padding: 0;
    background: #000000;
}

.sidenav>ul>li {
    width: 250px;
}

.sidenav>ul>li>span {
    color: black;
}

.sidenav>ul>li:hover {
    color: white
}