body{
    /* overflow: hidden; */
    background: gray;
}
.hide{
    display:none
}

.home {
    display: grid;
    grid-template-areas: 
    'navbar '
    'body';
    grid-template-columns: 100%;
  }

.navbar{
    grid-area:navbar;
   
}
.body,.archive{
    width: 92%;
    grid-area:body;
    margin-left:8%;
}
