body {
    background: #343F56;
}

body::-webkit-scrollbar-track {
    border-radius: 10px;
    background-color: #343F56;
}

body::-webkit-scrollbar {
    width: 12px;
    background-color: #343F56;
}

body::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background-color: #FFFFFF;
}

.hide {
    display: none
}